.sidebar {
  position: sticky;
  top: 0;
  width: 15rem;
  background-image: url("../../Assets/Rectangle\ 1.png ");
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  z-index: 9;
  overflow: auto;
}
.cross {
  width: 1.5rem;
  position: absolute;
  right: 1.5rem;
  top: 1.5rem;
  display: none;
}
.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}
.sidebar .pageLinks {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  margin-left: 2rem;
  margin-top: 2rem;
  gap: 1.5rem;
}
.logout {
  display: flex;
  background-color: white;
  align-items: center;
  justify-content: center;
  gap: 6px;
  padding: 1rem 2rem;
  color: red;
  font-size: 15px;
  cursor: pointer;
}
.logout img {
  margin-top: 3px;
  object-fit: contain;
}
@media screen and (max-width: 1200px) {
  .sidebar {
    display: none;
  }
  .show {
    display: block;
    position: fixed;
    top: 0;
    left: 0;
    width: 13rem;
    background-image: url("../../Assets/Rectangle\ 1.png ");
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    z-index: 9;
  }
  .cross {
    display: block;
  }
}
