.sidebar {
  width: 13%;
  background-image: url("../../Assets/Rectangle\ 1.png ");
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.logo {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 3rem;
}
.sidebar .pageLinks {
  display: flex;
  flex-direction: column;
 align-items: flex-end;
  gap: 2rem;
}
.logout{
    display: flex;
 background-color: white;
 align-items: center;
 justify-content: center;
 gap: 6px;
 padding: 1rem 2rem;
 color:red;
 font-size: 15px;

}
.logout img{
    margin-top: 3px;
}