.Pie_chart {
  max-width: 20rem;
  width: 100%;
  max-height: 24rem;
  padding: 0.3rem 0;
  background-color: white;
  border-radius: 1rem;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}
.pie {
  padding: 1.5rem;
  width: 100%;
  max-height: 13rem;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Pie_chart li {
  list-style: none;
  display: flex;
  width: 100%;
  gap: 0.5rem;
}



.ColorBox {
  width: 1rem;
  height: 1rem;
  border-radius: 50%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
}

.LabelList {
  display: flex;
  /* margin-top: 1.5rem; */
  font-size: 14px;
  font-weight: 500;
  flex-direction: column;
  gap: 0.5rem;
}
